profiles {
    slurm {
        process {
            executor      = 'slurm'
            queue         = 'epyc'
            clusterOptions = '-N 1 -n 1'
            shell         = ['/bin/bash', '-l']
            errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            maxRetries    = 2
        }
        executor {
            queueSize      = 200
            submitRateLimit = '20/1min'
        }
    }

    local {
        process.executor = 'local'
        process.shell    = ['/bin/bash', '-l']
    }
}

workDir = "${launchDir}/work"

report {
    enabled   = true
    file      = "${launchDir}/logs/nf-antismash-report.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${launchDir}/logs/nf-antismash-trace.txt"
    overwrite = true
}
